body {
    background-color: lightgray;
}

#logo {
    max-width: 105px;
    max-height: 105px;
}

#codeup {
    font-family: 'Abel', sans-serif;
    font-size: 64px;
}

.nav-item{
    color: black;
    text-decoration: none;
}

header{
    font-family: 'anton';
}

#top-heading{
    font-size: 70px;
}

#nav-list{
    font-family: 'abel';
}

.circle {
    width: 50%;
    border-radius: 50%;
    /*background-color: #b4d455;*/
    line-height: 0;
    position: relative;
    margin: auto;
}

.circle:after{
    content: "";
    display: block;
    padding-bottom: 100%;
    border-radius: 50%;
    border: 10px solid white;
}

.smallcircle {
    width: 10%;
    border-radius: 50%;
    /*background-color: #b4d455;*/
    line-height: 0;
    position: relative;
    margin: auto;
}

.smallcircle:after{
    content: "";
    display: block;
    padding-bottom: 100%;
    border-radius: 50%;
    border: 10px solid white;
}


.circle-txt{
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.circle1 {
    background-color: #E6563B;
    font-family: 'Anton';
    color: white;
}

.circle2 {
    background-color: #DEA03D;
    font-family: 'Anton';
    color: white;

}

.circle3 {
    background-color: #7CB06C;
    font-family: 'Anton';
    color: white;

}

.circle4 {
    background-color: #00ABA9;
    font-family: 'Anton';
    color: white;

}

.image-border{
    border: grey solid 7px;
    border-radius: 5px;
}

@media screen and (max-width:576px) {
    #ipad-apple{
        width: 90%;

    }
    .small-screen-none{
        display: none;
    }
    .image-footer {
        padding: 10px 35px;
    }
}

@media screen and (max-width:768px){
    #ipad-apple{
        width: 100%;
    }
    #macbook-image{
        width: 100%;
    }
    #man-image{
        width: 98%;
    }
    #security-image{
        width: 100%;
    }
    .image-footer{
        padding: 10px 5px;
    }
    #logo1 {
        width: 120px;
        position: absolute;
        top: -50px;
    }
    .circle-txt{
        font-size:20px;
    }
}

@media screen and (min-width:768px){
    #ipad-apple{
        width: 100%;
    }
    #macbook-image{
        width: 100%;
    }
    #man-image{
        width: 98%;
    }
    #security-image{
        width: 100%;
    }
    #logo1{
        width: 120px;
    }
    #top-heading{
        font-size: 50px;
    }
    #logo1{
        position:absolute;
        left: 20px;
    }
}

.badge1 {
    border-radius: 50%;
    background-color: #E6563B;
}

.badge2 {
    border-radius: 50%;
    background-color: #DEA03D;
}

.badge3 {
    border-radius: 50%;
    background-color: #7CB06C;
}

.badge4 {
    border-radius: 50%;
    background-color: #00ABA9;
}

/*.image-footer {*/
/*    padding: 10px 35px;*/
/*}*/

.abel-font {
    font-family: 'abel';
}
#small-nav{
    max-width: 100%;
}

#medium-nav{
    font-family:'abel';
}

#nav-heading{
    font-size: 40px;
}